/* =============== LAYOUT ================= */

body {
    main {
        display: flex;
        .sidebar {
            width: 700px;
            background-color: #8dd7e9;
            .select {
                width: 475px;
                padding-left: 20px;
                background-color: #eaf7fa;
                border-radius: 15px;
                h1 {
                    padding: 30px 0px 5px 0px;
                }
                span {
                    margin-bottom: 10px;
                }
                form {
                    select {
                        margin-top: 10px;
                    }
                    input {
                        margin-top: 20px;
                        margin-bottom: 50px;
                    }
                }
            }
            .pantry {
                background-color: red;
            }
        }
        .results {
            background-color: #d0e4e9;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .recipe-container {
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                width: 300px;
                height: 400px;
                margin: 40px 0px 0px 40px;
                border-radius: 15px;
                img {
                    margin-top: 10px;
                    width: 250px;
                }
                button {
                    position: relative;
                    bottom: 0;
                }
                h3 {
                    font-family: "ObjectBold";
                    font-weight: lighter;
                    font-size: 1rem;
                }              
            }
        }
    }
}