body{
    main{
        .results{
            .modal {
//   display: none; 
visibility: hidden;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(17, 17, 17); 
  background-color: rgba(3, 3, 3, 0.4);
}

.modalDisplay{
    background-color: #ece4e4;
  margin: 15% auto; 
  padding: 5px;
  border: 1px solid black;
  width: 50%;
}
        }
    }
}