

@font-face {
    font-family: "ObjectHeavy";
    src: url("../assets/PPObjectSans-Heavy.ttf");
}    

@font-face {
    font-family: "ObjectBold";
    src: url("../assets/PPObjectSans-Bold.ttf");
}    

@font-face {
    font-family: "ObjectRegular";
    src: url("../assets/PPObjectSans-Regular.ttf");
}    

@font-face {
    font-family: "TelegrafBold";
    src: url("../assets/PPTelegraf-Bold.ttf");
}    

@font-face {
    font-family: "TelegrafRegular";
    src: url("../assets/PPTelegraf-Regular.ttf");
}    


@import "setup";
@import "base-styles";
@import "base-layout";
@import"modal";


